@{
    ViewBag.Title = "Registro";
}

    <div class="jumbotron">
        <h1>Registrarse</h1>
        <div>
            
            @using (Html.BeginForm("Register", "Login", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="u">Usuario</label>
                    <input class="form-control" type="text" name="u" placeholder="Usuario" required="required" />
                </div>
                <div class="form-group">
                    <label for="p">Contraseña</label>
                    <input class="form-control" type="password" name="p" placeholder="Contraseña" required="required" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>

            }
           
        </div>
        @{ if (ViewBag.Error != null) { 
                    <h3>@ViewBag.Error</h3>
            }
            }
    </div>

